-
	var city = ["St. Petersburg", "Moscow"]
-
	var currency = ["USD", "RUB", "GBR", "EUR", "CHF"]
main.search
	.container
		.search-wrapper
			h1.title
				| Russian Train Tickets
			form.form#search-form(method="POST", action="")
				.form__inner
					.form__row
						label.form__label.form__label_depart
							span.input-title
								| Departure city:
							input.input(type="text", name="departureCity", placeholder="Type city name")
							.input-subtitle 
								span Ex:
								ul.input-subtitle__list
									each val in city
										li.input-subtitle__item
											a(href="").input-subtitle__link!=val 
						a(href="").swap-direction
							+icon('swap', 'svg-swap', '30px', '16px')
						label.form__label.form__label_return
							span.input-title
								| Arrival city:
							input.input(type="text", name="arrivalCity", placeholder="Type city name")
							.input-subtitle 
								span Ex:
								ul.input-subtitle__list
									each val in city
										li.input-subtitle__item
											a(href="").input-subtitle__link!=val 
					.form__row
						label.form__label.form__label_date
							span.input-title
								| Departure date:
							input.input(type="text", name="departureDate", id="departure-date", placeholder="dd.mm.yyyy", value="")
							.calendar-icon
								+icon('calendar', 'svg-calendar', '26px', '26px')
							.calendar#depart-date-wr
						.roundtrip
							label.roundtrip__label
								input(type="checkbox", name="roundtrip").roundtrip__checkbox
								.icon-box
									+icon('check', 'svg-check', '11px', '9px')
								span.checkbox__title
									| Roundtrip
						label.form__label.form__label_date
							span.input-title
								| Return date:
							input.input(type="text", name="returnDate", placeholder="dd.mm.yyyy", id="return-date", value="")
							.calendar-icon
								+icon('calendar', 'svg-calendar', '26px', '26px')
							.calendar#return-date-wr
						label.form__select
							span.input-title
								| Currency
							.select-currency
								select(name="currency", id="currency", style="width:5.375rem")
									option(value="")
									option(value="USD") USD
									option(value="Rub", selected="selected") Rub
									option(value="GBR") GBR
									option(value="EUR") EUR
									option(value="CHF") CHF
								.select-js-unload
									.select-button
						.button-search-wrapper
							button.button-search(type='submit')#search-submit
								+icon('search', 'svg-search', '18px', '18px')
								span Search